---
import { Icon } from "@astrojs/starlight/components";
import { formatText, formatQuotes } from "../format";
import NoOverflowCode from "../NoOverflowCode.astro";

interface Props {
    attributes: Array<{
        name: string;
        public?: true;
        values: string | undefined;
        description: string;
    }>;
}

const { attributes } = Astro.props;
---

{
    attributes.length === 0 ? (
        <p>No data attributes.</p>
    ) : (
        <>
            <ul class="lg:hidden">
                {attributes.map((att) => (
                    <li>
                        <div class="flex items-center gap-x-2">
                            <span>
                                <code class="!bg-orange-500 text-[var(--sl-color-white)]">
                                    {att.name}
                                </code>
                                {att.values !== undefined ? (
                                    <code>: {formatQuotes(att.values)}</code>
                                ) : (
                                    ""
                                )}
                            </span>
                            {att.public ? (
                                ""
                            ) : (
                                <div
                                    class="inline-flex pr-2"
                                    title="This data attribute is an attribute used for thefunctioning of the component and should not be used."
                                >
                                    <Icon name="seti:ignored" size="1rem" />
                                </div>
                            )}
                        </div>
                        <ul class="!my-2">
                            <li set:html={formatText(att.description)} />
                        </ul>
                    </li>
                ))}
            </ul>
            <table class="!hidden w-full lg:!block">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Values</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {attributes.map((att) => (
                        <tr>
                            <td>
                                {att.public ? (
                                    ""
                                ) : (
                                    <>
                                        <div
                                            class="inline-flex"
                                            title="This data attribute is an attribute used for thefunctioning of the component and should not be used."
                                        >
                                            <Icon name="seti:ignored" size="1rem" />
                                        </div>{" "}
                                    </>
                                )}
                                <code class="!bg-orange-500 text-[var(--sl-color-white)]">
                                    [{att.name}]
                                </code>
                            </td>
                            <td>
                                {att.values !== undefined ? (
                                    <NoOverflowCode code={formatQuotes(att.values)} />
                                ) : (
                                    "-"
                                )}
                            </td>
                            <td set:html={formatText(att.description)} />
                        </tr>
                    ))}
                </tbody>
            </table>
        </>
    )
}
