---
import { formatText, formatQuotes } from "../format";
import NoOverflowCode from "../NoOverflowCode.astro";

type Attribute = {
    name: string;
    type: string;
    description: string;
};

export function getARIALabelAtts(componentName: string, describingWhatIt: string): Attribute[] {
    return [
        {
            name: "aria-label",
            type: "string",
            description: `Description of what the ${componentName} ${describingWhatIt}.`
        },
        {
            name: "aria-labelledby",
            type: "string",
            description: `ID of element that describes what the ${componentName} ${describingWhatIt}.`
        }
    ];
}

interface Props {
    attributes: Attribute[];
}

const { attributes } = Astro.props;
---

{
    attributes.length === 0 ? (
        <p>No ARIA attributes.</p>
    ) : (
        <>
            <ul class="lg:hidden">
                {attributes.map((att) => (
                    <li>
                        <div class="flex items-center gap-x-2">
                            <span>
                                <code class="!bg-orange-500 text-[var(--sl-color-white)]">
                                    {att.name}
                                </code>
                                {att.type !== undefined ? (
                                    <code>: {formatQuotes(att.type)}</code>
                                ) : (
                                    ""
                                )}
                            </span>
                        </div>
                        <ul class="!my-2">
                            <li set:html={formatText(att.description)} />
                        </ul>
                    </li>
                ))}
            </ul>
            <table class="!hidden w-full lg:!block">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {attributes.map((att) => (
                        <tr>
                            <td>
                                <code class="!bg-orange-500 text-[var(--sl-color-white)]">
                                    {att.name}
                                </code>
                            </td>
                            <td>
                                <NoOverflowCode code={formatQuotes(att.type)} />
                            </td>
                            <td set:html={formatText(att.description)} />
                        </tr>
                    ))}
                </tbody>
            </table>
        </>
    )
}
