---
import { formatText } from "../format";

interface Props {
    events: Array<{
        component: string;
        event: string;
        action: string;
    }>;
}

const { events } = Astro.props;
---

{
    events.length === 0 ? (
        <p>No events.</p>
    ) : (
        <>
            <ul class="lg:hidden">
                {events.map((event) => (
                    <li>
                        <code class="inline-flex">
                            {event.component}.
                            <span class="text-[var(--sl-color-text-accent)]">{event.event}</span>
                        </code>
                        : <p class="inline" set:html={formatText(event.action)} />
                    </li>
                ))}
            </ul>
            <table class="!hidden w-full lg:!block">
                <thead>
                    <tr>
                        <th>Component</th>
                        <th>Event</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {events.map((event) => (
                        <tr>
                            <td>
                                <code>{event.component}</code>
                            </td>
                            <td>
                                <code>{event.event}</code>
                            </td>
                            <td set:html={formatText(event.action)} />
                        </tr>
                    ))}
                </tbody>
            </table>
        </>
    )
}
